In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv(
                "E:/Dokumentumok/adventofcode/2022/02/input.txt", 
                 sep=' ',
                 skip_blank_lines=False, header = None, names=['opponent', 'me'])

In [9]:
df.head(20)

   opponent me
0         C  Y
1         C  Y
2         C  Y
3         B  Z
4         C  Y
5         C  Z
6         C  Y
7         C  Y
8         C  Z
9         B  Y
10        C  Y
11        C  Y
12        C  Y
13        C  Y
14        C  Y
15        B  Z
16        A  X
17        C  Y
18        B  Y
19        A  X

In [15]:
selection_score = []

for value in df['me']:
    if value == 'X':
        selection_score.append(1)
    elif value == 'Y':
        selection_score.append(2)
    else:
        selection_score.append(3)

print(selection_score[:20])

[2, 2, 2, 3, 2, 3, 2, 2, 3, 2, 2, 2, 2, 2, 2, 3, 1, 2, 2, 1]

In [24]:
outcome_score = []

for a, b in zip(df.opponent, df.me):
    if a == 'A' and b == 'X':
        outcome_score.append(3)
    elif a == 'B' and b == 'Y':
        outcome_score.append(3)
    elif a == 'C' and b == 'Z':
        outcome_score.append(3)
    elif a == 'A' and b == 'Y':
        outcome_score.append(6)
    elif a == 'A' and b == 'Z':
        outcome_score.append(0)
    elif a == 'B' and b == 'Z':
        outcome_score.append(6)
    elif a == 'C' and b == 'X':
        outcome_score.append(6)
    elif a == 'C' and b == 'Y':
        outcome_score.append(0)
    elif a == 'B' and b == 'X':
        outcome_score.append(0)

print(outcome_score[:20])

[0, 0, 0, 6, 0, 3, 0, 0, 3, 3, 0, 0, 0, 0, 0, 6, 3, 0, 3, 3]

In [25]:
df['selection_score'] = selection_score
df['outcome_score'] = outcome_score
df['total_score'] = df['selection_score'] + df['outcome_score']
df.head(20)

   opponent me  selection_score  outcome_score  total_score
0         C  Y                2              0            2
1         C  Y                2              0            2
2         C  Y                2              0            2
3         B  Z                3              6            9
4         C  Y                2              0            2
5         C  Z                3              3            6
6         C  Y                2              0            2
7         C  Y                2              0            2
8         C  Z                3              3            6
9         B  Y                2              3            5
10        C  Y                2              0            2
11        C  Y                2              0            2
12        C  Y                2              0            2
13        C  Y                2              0            2
14        C  Y                2              0            2
15        B  Z                3              6            9
16        A  X                1              3            4
17        C  Y                2              0            2
18        B  Y                2              3            5
19        A  X                1              3            4

#### Question 1: What would your total score be if everything goes exactly according to your strategy guide (X, Y, Z meaning rock, paper, scissors)?

In [26]:
df.total_score.sum()

9177

#### Question 2: What would your total score be if everything goes exactly according to your strategy guide (X, Y, Z meaning lose, draw, win)?

In [27]:
selected_shape = []

for a, b in zip(df.opponent, df.me):
    if a == 'A' and b == 'X':
        selected_shape.append('Z')
    elif a == 'B' and b == 'Y':
        selected_shape.append('Y')
    elif a == 'C' and b == 'Z':
        selected_shape.append('X')
    elif a == 'A' and b == 'Y':
        selected_shape.append('X')
    elif a == 'A' and b == 'Z':
        selected_shape.append('Y')
    elif a == 'B' and b == 'Z':
        selected_shape.append('Z')
    elif a == 'C' and b == 'X':
        selected_shape.append('Y')
    elif a == 'C' and b == 'Y':
        selected_shape.append('Z')
    elif a == 'B' and b == 'X':
        selected_shape.append('X')

print(selected_shape[:20])

['Z', 'Z', 'Z', 'Z', 'Z', 'X', 'Z', 'Z', 'X', 'Y', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Z', 'Y', 'Z']

In [28]:
selection_score2 = []

for value in selected_shape:
    if value == 'X':
        selection_score2.append(1)
    elif value == 'Y':
        selection_score2.append(2)
    else:
        selection_score2.append(3)

print(selection_score2[:20])

[3, 3, 3, 3, 3, 1, 3, 3, 1, 2, 3, 3, 3, 3, 3, 3, 3, 3, 2, 3]

In [33]:
outcome_score2 = []

for a, b in zip(df.opponent, selected_shape):
    if a == 'A' and b == 'X':
        outcome_score2.append(3)
    elif a == 'B' and b == 'Y':
        outcome_score2.append(3)
    elif a == 'C' and b == 'Z':
        outcome_score2.append(3)
    elif a == 'A' and b == 'Y':
        outcome_score2.append(6)
    elif a == 'A' and b == 'Z':
        outcome_score2.append(0)
    elif a == 'B' and b == 'Z':
        outcome_score2.append(6)
    elif a == 'C' and b == 'X':
        outcome_score2.append(6)
    elif a == 'C' and b == 'Y':
        outcome_score2.append(0)
    elif a == 'B' and b == 'X':
        outcome_score2.append(0)

print(outcome_score2[:20])

[3, 3, 3, 6, 3, 6, 3, 3, 6, 3, 3, 3, 3, 3, 3, 6, 0, 3, 3, 0]

In [34]:
df['selection_score2'] = selection_score2
df['outcome_score2'] = outcome_score2
df['total_score2'] = df['selection_score2'] + df['outcome_score2']
df.head(20)

,opponent,me,selection_score,outcome_score,total_score,selection_score2,outcome_score2,total_score2
0,C,Y,2,0,2,3,3,6
1,C,Y,2,0,2,3,3,6
2,C,Y,2,0,2,3,3,6
3,B,Z,3,6,9,3,6,9
4,C,Y,2,0,2,3,3,6
5,C,Z,3,3,6,1,6,7
6,C,Y,2,0,2,3,3,6
7,C,Y,2,0,2,3,3,6
8,C,Z,3,3,6,1,6,7
9,B,Y,2,3,5,2,3,5
10,C,Y,2,0,2,3,3,6
11,C,Y,2,0,2,3,3,6
12,C,Y,2,0,2,3,3,6
13,C,Y,2,0,2,3,3,6
14,C,Y,2,0,2,3,3,6
15,B,Z,3,6,9,3,6,9
16,A,X,1,3,4,3,0,3
17,C,Y,2,0,2,3,3,6
18,B,Y,2,3,5,2,3,5
19,A,X,1,3,4,3,0,3

In [35]:
df.total_score2.sum()

12111